.coachphoto img{
    
    padding-left: 40px;
    padding-top: 10px;
    height: 300px;
    border-radius: 10px;

}
.details{
    text-align: justify;
    padding-left: 500px;
    font-size: 10px;
    padding-top: 1000px;
}