.fon
{
    font-family: audiowide;
    text-align: center;
    float: left;
     justify-content: center;
     align-items:center;
   padding-left: 500px;
   padding-top: 200px;
     color: aliceblue;
   

    
    
}
body{
    background: url(https://i.postimg.cc/wxPW2WYk/loginimg.jpg)  center center fixed;
    background-size: cover;
 
}

button

{
    font-family: audiowide;
}

.fg{
    padding-left: 300px;
}
 