.coachhead
{
    font-family: audiowide;
        text-align: center;
    font-size: 20px;
    color: rgb(128, 12, 128);
    text-decoration: underline;
}

.coachphoto img{
    
    padding-left: 40px;
    padding-top: 10px;
    height: 300px;
    border-radius: 30px;
    position: relative;

}
.details{
    
    padding-left: 400px;
    font-size: 10px;
    bottom: 300px;
    font-family: audiowide;
    position: relative;
    
}

.coachphoto2 img {

    padding-left: 40px;
    padding-top: 1px;
    bottom: 150px;
    height: 300px;
    border-radius: 30px;
    position: relative;
}

.details2{
    
    padding-left: 400px;
    font-size: 10px;
    bottom: 430px;
    font-family: audiowide;
    position: relative;
    
}

.coachphoto3 img {

    padding-left: 40px;
    padding-top: 1px;
    bottom: 300px;
    height: 300px;
    border-radius: 30px;
    position: relative;
}

.details3{
    
    padding-left: 400px;
    font-size: 10px;
    bottom: 590px;
    font-family: audiowide;
    position: relative;
    
}
.coachphoto4 img {

    padding-left: 40px;
    padding-top: 1px;
    bottom: 450px;
    height: 300px;
    border-radius: 30px;
    position: relative;
}

.details4{
    
    padding-left: 400px;
    font-size: 10px;
    bottom: 720px;
    font-family: audiowide;
    position: relative;
    
}

.coachphoto5 img {

    padding-left: 40px;
    padding-top: 1px;
    bottom: 600px;
    height: 300px;
    border-radius: 30px;
    position: relative;
}

.details5{
    
    padding-left: 400px;
    font-size: 10px;
    bottom: 900px;
    font-family: audiowide;
    position: relative;
    
}


.coachphoto6 img {

    padding-left: 40px;
    padding-top: 1px;
    bottom: 750px;
    height: 300px;
    border-radius: 30px;
    position: relative;
}

.details6{
    
    padding-left: 400px;
    font-size: 10px;
    bottom: 1050px;
    font-family: audiowide;
    position: relative;
    
}


