.fon{
    font-family: Audiowide;
grid-gap: 1000px;
padding: 50px;
text-align: center;
color: rgb(255, 242, 242);
} 
body 
{
    background: url(https://i.postimg.cc/kXH8dXgL/registerimg.jpg) no-repeat center center fixed;
    background-size: cover;
}


button{
    font-family: audiowide;
}
select
{
    font-family: audiowide;
}
input
{
    border-radius: 100px;
}

button
{
    border-radius: 90px;
}