.firstpara
{
 
padding-top: 20px;
font-family: audiowide;
text-align: center;
margin: 30px;
margin-right: 100px;
 
}

.first img{
    height: 400px;
    width: 400px;
    float: right;
    padding-top: 20px;
    border-radius: 30px;
} 
.wholebg
{
    background-color: white;
text-align: center;
grid-gap: 50px;

}

 .secondpara
 {
   font-family: audiowide;
   padding-top: 20px;
   text-align: center;
   margin: 30px;

 }
 .secondparaheading
 {
    font-family: audiowide;
padding-top: 30px;
color: rgb(128, 12, 128) ;
text-decoration: underline;
    text-align: center;
    font-size: 18px;
 }