.fon{
    font-family: Audiowide;
grid-gap: 1000px;
padding: 50px;
text-align: center;
color: aliceblue;
} 
body 
{
    background: url(images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
 
}
button{
    font-family: audiowide;
}
select
{
    font-family: audiowide;
}